<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ARX_Twitch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ARX_Twitch.Properties.Settings>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="ChatInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="messageCapacity" serializeAs="String">
                <value>250</value>
            </setting>
        </ARX_Twitch.Properties.Settings>
    </userSettings>
</configuration>